/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}


/* start */
.wrap {
    margin: 0 auto;
    max-width: 1024px;
    background-color: rgb(241, 241, 241);
    
}
/* part1 */
.header {
    max-width: 1024px;
    height: 450px;
    background-image: url('images/img-headerShape.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 132px;
}

.headerBox{
    display: flex;
    padding-top: 125px;
    padding-left: 135px;
}

.personal {
    margin-right: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal h1 {
    font-size: 42px;
}

.personal p {
    font-size: 14px;
    margin-top: 9px;
    color: #4A4A4A;
}

.contactMe li {
    align-items: center;
    padding-bottom: 20px;
    font-size: 18px;
    color: #ffff;
}
.contactMe img {
    margin-right: 12px;
}

/* part2*/
.allSkills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillGroup {
    width: 886px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;

}
.skillGroup .box1,.skillGroup .box2,.skillGroup .box3 {
    position: relative;
    overflow: hidden;
    padding: 25px 0 ;
    width: 284px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.skillGroup ul li {
    font-size: 10px;
    padding: 7px;
    color: #4A4A4A
}

.dot {
    margin-right: 10px;
}

.allSkills h2,.exp h2{
    font-size: 24px;
    color: #1736DC;
    margin-bottom: 48px;
}

h3 {
    font-size: 18px;
    color: #4A4A4A;
    margin: 23px 0 26px 0;
}

.skillGroup .box1 .bottomLine {
    position: absolute;
    width: 284px;
    height: 6px;
    bottom: 0;
    background: #F58D23;
}

.skillGroup .box2 .bottomLine {
    position: absolute;
    width: 284px;
    height: 6px;
    bottom: 0;
    background: #539E43;
}
.skillGroup .box3 .bottomLine {
    position: absolute;
    width: 284px;
    height: 6px;
    bottom: 0;
    background: #6762A6;
}

/* part3*/
.exp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 56px;
}
.box-line {
    width: 2px;
    height: 514px;
    background-color: #D8D8D8 ;
}

.box-line-bottom {
    position: absolute;
    width: 46px;
    height: 4px;
    border-radius: 2px;
    background: #D8D8D8 ;
    bottom: 0;
}

.dotStart {
    position: absolute;
    top: 48px;
}

.expBox1 {
    position: relative;

}

.expBoxTxt {
    position: absolute;
    width: 260px;
    height: 136px;
    background: #FFFFFF;
    border: 1px solid #FB56BF;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    line-height: 18px;
    color: #9B9B9B ;

}

.exp .date,.exp .sup-p {
    font-size: 12px;
    color: #4A4A4A ;
    margin: 8px 0;

}

.exp h4 {
    font-size: 12px;
    /* margin: 9px 0; */
    font-weight: bold;
    color: #8A1737;
}

.group-1 {
    position: absolute;
    top: 133px;
}

.group-2 {
    position: absolute;
    top: 276px;
}

.group-3 {
    position: absolute;
    top: 419px;
}

.group-1 .expBoxTxt {
    right: -280px;
    top: -1px;
}

.group-2 .expBoxTxt {
    left: -280px;
    top: -1px;
}

.group-3 .expBoxTxt {
    right: -280px;
    top: -1px;
}
/* part4 */
.works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works h2,.aboutMe h2{
    font-size: 24px;
    color: #FB56BF;
    margin-bottom: 46px;
}

.worksGroup {
    width: 886px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

.worksGroup .box1,.worksGroup .box2,.worksGroup .box3 {
    width: 284px;
    height: 213px;
    background: #fff;
    border-radius: 4px;

}

.worksGroup .box1:hover,.worksGroup .box2:hover,.worksGroup .box3:hover {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.40);
}



.worksGroup .imgBg1 {
    width: 284px;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #fdb4e3;
    align-items: flex-end;
    justify-content: end;
}

.worksGroup .imgBg2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 284px;
    height: 150px;
    background-color: #424242;
}

.worksGroup .imgBg3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 284px;
    height: 150px;
    background-color: #8AD7FA;
}
.worksGroup h5 {
    font-size: 14px;
    font-weight: bold;
    margin: 9px 0;
}
.worksGroup p {
    font-size: 14px;
    color: #4A4A4A ;
}

.worksGroup .txt {
    padding: 0 10px;
}

/* part5 */

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}
.aboutMeBox {
    width: 746px;
    display: flex;

}

.aboutMeBox p {
    font-size: 14px;
    color: #4A4A4A;
    line-height: 26px;
    margin-top: 50px;
}


.aboutMeBox img {
    width: 260px;
    height: 335px;
    object-fit: contain;
    margin-right: 44px;
}

.footer {
    width: 1024px;
    height: 87px;
    background-image: url('/images/img-Looper-bg.png');
    font-size: 16px;
    text-align: center;
    line-height: 87px;
}
